//SECCION 1

.navbarDesk {
    display: none;
}

.seccionUno {
    background-image: url(../../img/01.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;

    &__opciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 95vh;
        
        
    }

    &__botonContainer {
        margin-top: 20rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__boton1 {
       display: block;
       width: 86%;
       padding: 1rem 0;
       margin: 1rem 0;
       background-color: transparent;
       border: 1.4px $color-blanco solid;

       &:hover {
           cursor: pointer;
           background-color: $color-blanco;
           span {
                color: $color-rosa;
           }
       }

       span {
           display: block;
           font-family: 'Assistant', sans-serif;
           color: $color-blanco;
           text-align: center;
           text-transform: uppercase;
           font-size: 2.3rem;
           font-weight: 610;
       }
       

    }

    &__boton2 {
        @extend .seccionUno__boton1;
        p {
            font-size: 2rem;
        }
    }

    &__boton3 {
        @extend .seccionUno__boton1;
    }
}

//SECCION 2

.seccionDosDesk {
    display: none;
}

.seccionDos {

    &__banner {
        background-image: url(../../img/Rectangle9.png);
        background-size: cover;
        height: 20vh;
        background-repeat: no-repeat;
    }

    &__contenido {
        
        h2 {
            font-size: 2.4rem;
            margin: 3.5rem 2rem;
        }
    }

    &__texto {
        font-size: 1.6rem;
        font-weight: 300;
        margin: 0 2rem;
    }

}

//Sección Tres

.seccionTres {
   

    


    &__accordion1 {
        
        

        button {
            background-color: $color-rosa;
            font-family: 'Assistant', sans-serif;
            font-size: 2.4rem;
            font-weight: 700;

            &:focus {
                color: $color-black;
                box-shadow: none;
                border: none;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .acordeon-texto {
            padding: 35px 25px 23px;
            font-size: 16px;
            line-height: 24px;
            color: $color-violeta;
        }

        .acordeon-img {
            display: flex;
            flex-direction: column;
            & img {
              width: 100%;
              margin-bottom: 23px;
            }
        }
    }

    &__accordion2 {
        @extend .seccionTres__accordion1;
        button {
            background-color: $color-beige;
        }
    }

    &__accordion3 {
        @extend .seccionTres__accordion1;
        button {
            background-color: $color-lila;
            color: $color-blanco;

            &:focus {
                color: $color-blanco;
                background-color: $color-violeta;
            }
        }
    }

}

//Seccion 4

// INICIO COMO FUNCIONA

.pedidos {
    padding: 38px 20px 43px;
  }
  .pedidos__pasos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    &--margen {
      margin-left: 89px;
    }
  }
  .pedidos__img {
    width: 69px;
    height: 69px;
  }
  .pedidos__texto {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $color-violeta;
    margin-left: 20px;
  }
  
 
  
  // FIN COMO FUNCIONA
  
// INICIO FOOTER
#footer {
    background-color: $color-violeta;
    padding: 47px 20px 100px 20px;
  }
  
  .footer__contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &--whatsapp {
      margin: 45px 0 77px;
      & img {
        width: 65px;
        height: 66px;
        margin-bottom: 46px;
      }
    }
    &--email {
      & img {
        width: 96px;
        height: 66px;
        margin-bottom: 36px;
      }
    }
  
    & span {
      font-weight: 300;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.1em;
      color: $color-blanco;
      margin-bottom: 25px;
    }
    & button {
      border: 1px solid #ffffff;
      box-sizing: border-box;
      width: 100%;
      background-color: transparent;
      font-family: Assistant;
      font-weight: bold;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      color: $color-blanco;
      padding: 8px 0;
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
    }
    & a {
      width: 100%;
    }
  }

  //Fin footer





//Objetos invisibles (transisción a version desktop)

.seccionDos__nuevaCosa {
    visibility: hidden;
}
.collapse {
    display: none;
}
.show {
    display: block;
    

}

.soy80vh {
    height: 80vh;
}

button[disabled] {
    background-color: rgba($color: $color-lila, $alpha: 0.4);
    color: rgba($color: $color-black, $alpha: 0.2);
}

