//SECCION 1

.navbarDesk {
    display: none;
}

.seccionUno {
    background-image: url(../../img/01.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;

    &__opciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 95vh;
        
        
    }

    &__botonContainer {
        margin-top: 20rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__boton1 {
       display: block;
       width: 86%;
       padding: 1rem 0;
       margin: 1rem 0;
       background-color: transparent;
       border: 1.4px $color-blanco solid;

       &:hover {
           cursor: pointer;
           background-color: $color-blanco;
           span {
                color: $color-rosa;
           }
       }

       span {
           display: block;
           font-family: 'Assistant', sans-serif;
           color: $color-blanco;
           text-align: center;
           text-transform: uppercase;
           font-size: 2.3rem;
           font-weight: 610;
       }
       

    }

    &__boton2 {
        @extend .seccionUno__boton1;
        p {
            font-size: 2rem;
        }
    }

    &__boton3 {
        @extend .seccionUno__boton1;
    }
}

//SECCION 2

.seccionDosDesk {
    display: none;
}

.seccionDos {

    &__banner {
        background-image: url(../../img/Rectangle9.png);
        background-size: cover;
        height: 20vh;
        background-repeat: no-repeat;
    }

    &__contenido {
        
        h2 {
            font-size: 2.4rem;
            margin: 3.5rem 2rem;
        }
    }

    &__texto {
        font-size: 1.6rem;
        font-weight: 300;
        margin: 0 2rem;
    }

}

//Sección Tres

.seccionTres {
    height: 80vh;

    


    &__accordion1 {
        
        button {
            background-color: $color-rosa;
            font-family: 'Assistant', sans-serif;
            font-size: 2.4rem;
            font-weight: 700;

            &:focus {
                color: $color-black;
                box-shadow: none;
                border: none;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__accordion2 {
        @extend .seccionTres__accordion1;
        button {
            background-color: $color-beige;
        }
    }
    &__accordion3 {
        @extend .seccionTres__accordion1;
        button {
            background-color: $color-lila;
            color: $color-blanco;

            &:focus {
                color: $color-blanco;
                background-color: $color-violeta;
            }
        }
    }

}






//Objetos invisibles (transisción a version desktop)

.seccionDos__nuevaCosa {
    visibility: hidden;
}
.collapse {
    display: none;
}
.show {
    display: inline-block;
    transition: .5s;
}